*.env
!.env.example
/.idea/
node_modules
/node_modules/.bin/
*.zst
*.zst.download
/packages/livoice-api/.keystone/
/packages/livoice-api/.next/
.DS_Store
*.pem
/packages/livoice-api/stats.html
/packages/livoice-web/stats.html